{{ form_start(form) }}
<div class="p-4">
    <div class="mb-3">
        <label class="form-label">
            <i class="bi bi-tag-fill text-primary me-2"></i> Name
        </label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name, {'attr': {'class': 'text-danger'}}) }}
    </div>

    <div class="mb-3">
        <label class="form-label">
            <i class="bi bi-card-text text-primary me-2"></i> Description
        </label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description, {'attr': {'class': 'text-danger'}}) }}
    </div>
</div>

<hr class="my-4">
<div class="text-center mt-4">
    <button type="submit" class="btn btn-primary px-4 py-2 shadow-sm">
        <i class="bi bi-save me-2"></i> {{ button_label|default('Save') }}
    </button>
</div>
{{ form_end(form) }}


